<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">
    <i class="fas fa-globe-americas"></i>
    World Explorer 2000
  </span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav d-inline-flex">
      <li class="nav-item">
        <a routerLink="/info" routerLinkActive="active" class="nav-link">Info</a>
      </li>
      <li class="nav-item">
        <a routerLink="/map" routerLinkActive="active" class="nav-link">Map</a>
      </li>
      <li class="nav-item">
        <a routerLink="/flights" routerLinkActive="active" class="nav-link">Airports</a>
      </li>
      <li class="nav-item">
        <a routerLink="/weather" routerLinkActive="active" class="nav-link">Väder</a>
      </li>
    </ul>
    <ng-select placeholder="Select country" [items]="countries | async" bindLabel="name" (change)="countryService.setSelected($event)"
      [ngModel]="selected">
    </ng-select>
  </div>
</nav>