<div class="jumbotron" style="background-color: transparent">
  <div class="container text-center">
    <h1>Current Weather in the Country</h1>
  </div>
</div>

  <div class="container">
    <div class="card text-center mx-auto" style="width: 50rem;">
      <div class="card-body">
        <h4> Temperature at this moment {{temperatur - 273}} degrees</h4>
        <h4> Airpressure is {{lufttryck}} hPa</h4>
        <h4> Wind blowing at {{vindhast}} m/s</h4>
      </div>
    </div>
  </div>
<p>
  {{weatherData}}
</p>