/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

body {
  margin: 0;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
